body {
  background: linear-gradient(to right, #e8f5e9, #f9fbe7);
  margin: 0;
}
/* Make full height layout */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* The main app container */
.appContainer {
  flex: 1; /* take remaining space */
  display: flex;
  flex-direction: column;
}

/* Main content grows */
.mainContent {
  flex: 1;
}
